.back{
    background-color: rgba(213, 243, 239, 0.692); ;
    font-family: sans-serif;
}

.head{
    height: 6rem;
    width: 1210px;
    background-color:  rgba(19, 133, 118, 0.692);
}

.pal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1050px;
    background-color: white;
    margin: 30px;
    margin-left: 100px;
    box-shadow: 2px 1px 2px 0px black;
}
.pa{
    display: flex;
    margin-top: 15px;
    font-size: 15px;
    color:  rgba(19, 133, 118, 0.692);
    width: 15rem;
    flex-direction: row;
    justify-content: space-between;
    
}
.pb{
    background-color:  rgba(19, 133, 118, 0.692);
    border: none;
    color: white;
    border-radius: 5px;
    height: 15px;
    font-size: 12px;
    
    
}
.pbb{
    background-color:  black;
    border: none;
    color: white;
    border-radius: 5px;
    height: 15px;
    font-size: 12px;
    

}

.sen{
    font-size: 20px;
    
}
.se{
    font-size: 20px;
    margin-top: -6px;
    color: rgba(0, 0, 0, 0.451);
}
.span{
    margin-left: 5px;
    
}

.cover{
    
    margin-left: -90px;
    border-color: yellow;
}


.lastbutton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    width: 500px;
}

.button{
    color: rgba(19, 133, 118, 0.692);
    background-color: rgba(213, 243, 239, 0.692);
    border:none;
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
    margin: 4px;
    
    
}

.ii{
    margin-top: 12px;
    margin-left: -50px;
}

.we{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 30px;
    margin-top: -15px;
    margin-left: 50px;
}

.game{

    
}
.wee{
    background-color:  rgba(19, 133, 118, 0.692);
    width: 5px;
    margin-left: -50px;
}

.pall{

    z-index: 5px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 1050px;
    background-color: white;
    margin: 30px;
    margin-left: 100px;
    margin-top: -2px;
    box-shadow: 2px 1px 2px 0px black;
    font-size: 10px;
}

.buttonn{
    border: none;
    color:  rgba(19, 133, 118, 0.692);;
    background-color: white ;
}